In [1]:
%load_ext autoreload

%autoreload 2
from dividend import *

In [2]:
portfolio = {'NVDA': 2, # NVIDIA
            'STAG': 9, # STAG
            'MCO': 1, # MOODY'S
            'MSFT': 1, # MICROSOFT
            'AGNC': 18, # AGNC INVESTMENT
            'V': 1, # VISA
            'BNTX': 1, # BIONTECH
            }

In [15]:
df = get_dividends(portfolio)
df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Price,Jan,Feb,Jun,Jul,Aug,Sep,Oct,Nov,Dec
NVDA,126.351715,0.000000,0.000000,0.065038,0.000000,0.065038,0.000000,0.000000,0.000000,0.065038
STAG,25.486593,0.892640,0.892640,1.777964,0.885324,0.885324,0.885324,0.885324,0.885324,0.885324
MCO,221.078922,0.000000,0.569079,0.000000,0.000000,0.504041,0.000000,0.000000,0.504041,0.000000
MSFT,211.583444,0.000000,0.504041,0.000000,0.000000,0.455263,0.000000,0.000000,0.504041,0.000000
AGNC,9.064609,1.756014,1.756014,3.512028,1.756014,1.756014,1.756014,1.756014,1.756014,1.756014
V,162.187411,0.000000,0.304864,0.000000,0.000000,0.260150,0.000000,0.000000,0.304864,0.000000
BNTX,115.425403,0.000000,0.000000,1.716179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [4]:
import yfinance as yf

In [12]:
yf.download('AGNC', period='1d')['Adj Close'].values[0]

[*********************100%***********************]  1 of 1 completed

11.149999618530273

In [13]:

[yf.download(i, period='1d')['Adj Close'].values[0] for i in portfolio.keys()]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[155.4199981689453,
 31.350000381469727,
 271.94000244140625,
 260.260009765625,
 11.149999618530273,
 199.5,
 141.97999572753906]