# Checking the modules

In [25]:
%load_ext autoreload
%autoreload 2
from cinofinance.dividend import Dividend
import os
import pandas as pd
import yfinance as yf
from datetime import datetime

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [39]:
df[datetime.now().strftime('%h')].sum()

2.9352

In [37]:
df['Jul']

AGNC    2.0190
STAG    0.9162
BNTX    0.0000
MCO     0.0000
MSFT    0.0000
V       0.0000
NVDA    0.0000
Name: Jul, dtype: float64

In [41]:
portfolio = {'NVDA': 2, # NVIDIA
            'STAG': 9, # STAG
            'MCO': 1, # MOODY'S
            'MSFT': 1, # MICROSOFT
            'AGNC': 20, # AGNC INVESTMENT
            'V': 1, # VISA
            'BNTX': 1, # BIONTECH
            }
df = Dividend().get_portfolio_dividends(portfolio)
df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

**********************************************************************
# The total Dividend Income (EUR) of the portfolio is: 42.79 EUR     #
**********************************************************************


**********************************************************************
# The total Dividend Income (EUR) of the portfolio is: 2.94 EUR     #
**********************************************************************

,Lot,Name,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Price,"Dividend, annual","ROI, annual"
AGNC,20,AGNC Investment Corp. Common Stock,2.01900,2.01900,2.01900,2.01900,2.01900,2.01900,2.0190,2.01900,2.0190,2.0190,2.01900,2.0190,11.23684,24.22800,0.10781
STAG,9,Stag Industrial Inc. Common Stock,0.92376,0.92376,0.92376,0.92376,0.92376,0.92376,0.9162,0.91620,0.9162,0.9162,0.91620,0.9162,30.06986,11.03976,0.04079
BNTX,1,BioNTech SE American Depositary Share,0.00000,0.00000,0.00000,0.00000,0.00000,1.77596,0.0000,0.00000,0.0000,0.0000,0.00000,0.0000,167.40136,1.77596,0.01061
MCO,1,Moody's Corporation Common Stock,0.00000,0.58890,0.00000,0.00000,0.58890,0.00000,0.0000,0.52160,0.0000,0.0000,0.52160,0.0000,279.57297,2.22100,0.00794
MSFT,1,Microsoft Corporation Common Stock,0.00000,0.52160,0.00000,0.00000,0.52160,0.00000,0.0000,0.47112,0.0000,0.0000,0.52160,0.0000,263.36712,2.03592,0.00773
V,1,Visa Inc.,0.00000,0.31548,0.00000,0.00000,0.31548,0.00000,0.0000,0.26921,0.0000,0.0000,0.31548,0.0000,200.30504,1.21565,0.00607
NVDA,2,NVIDIA Corporation Common Stock,0.00000,0.00000,0.06730,0.00000,0.00000,0.06730,0.0000,0.06730,0.0000,0.0000,0.00000,0.0673,155.83982,0.26920,0.00086

# Check the Pool Function

# Import From Python File for Pool Function:

In [ ]:
df_div = Dividend().get_dividend_pool(100)
# import numpy as np
# df_div['Lot'] = (100 / df_div['Price'])
# df_div['Lot'] = df_div['Lot'].apply(np.floor)

# month_columns = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
# df_div[month_columns] = df_div[month_columns].multiply(df_div['Lot'], axis='index')
# df_div['Dividend, annual'] = df_div[month_columns].sum(axis=1)


# df_div.sort_values('Dividend, annual', ascending=False)

In [ ]:

df_div.sort_values('Dividend, annual', ascending=False)[:15]

In [ ]:
df_div.sort_values('ROI, annual', ascending=False)[:15]

In [ ]:
pool = Dividend().get_final_pool()
pool

# Yahoo Finance

In [ ]:
orc = yf.Ticker("ORC")

In [ ]:
# show analysts recommendations
orc.info