# Checking the modules

In [1]:
%load_ext autoreload
%autoreload 2
from cinofinance.dividend import Dividend
import os
import pandas as pd
import yfinance as yf
from datetime import datetime

# Load the portfolio from the Excel

In [26]:
Dividend().get_portfolio()

,Tickers,Sep 22,Okt 22,Nov 22,Dez 22,Jan 23,Feb 23,Mrz 23,Apr 23,Mai 23,Jun 23,Jul 23,Aug 23,Sep 23,Okt 23,Nov 23,Dez 23,Jan 24,Feb 24
0,AGNC,25,29,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,BNTX,1,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,MCO,1,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,MSFT,1,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,NVDA,2,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,ORC,7,15,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
6,STAG,11,11,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,V,1,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [25]:
# Load the workbook, from the filename, setting read_only to False
wb = load_workbook(filename='../raw_data/portfolio.xlsx', read_only=False, keep_vba=False, data_only=True, keep_links=False)

# Initialize the dictionary of tables
tables_dict = {}

# Go through each worksheet in the workbook
for ws_name in wb.sheetnames:

    ws = wb[ws_name]

    # Get each table in the worksheet
    for tbl in ws.tables.values():
        # First, add some info about the table to the dictionary
        tables_dict[tbl.name] = {
                'table_name': tbl.name,
                'worksheet': ws_name,
                'num_cols': len(tbl.tableColumns),
                'table_range': tbl.ref}

        # Grab the 'data' from the table
        data = ws[tbl.ref]

        # Now convert the table 'data' to a Pandas DataFrame
        # First get a list of all rows, including the first header row
        rows_list = []
        for row in data:
            # Get a list of all columns in each row
            cols = []
            for col in row:
                cols.append(col.value)
            rows_list.append(cols)

        # Create a pandas dataframe from the rows_list. 
        # The first row is the column names
        df = pd.DataFrame(data=rows_list[1:], index=None, columns=rows_list[0])

        # Add the dataframe to the dictionary of tables
        tables_dict[tbl.name]['dataframe'] = df
# a dictionary of all tables in the Excel workbook
tables_dict['Table1']['dataframe']

,Tickers,Sep 22,Okt 22,Nov 22,Dez 22,Jan 23,Feb 23,Mrz 23,Apr 23,Mai 23,Jun 23,Jul 23,Aug 23,Sep 23,Okt 23,Nov 23,Dez 23,Jan 24,Feb 24
0,AGNC,25,29,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,BNTX,1,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,MCO,1,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,MSFT,1,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,NVDA,2,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,ORC,7,15,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
6,STAG,11,11,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,V,1,1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [17]:
# import library
from openpyxl import load_workbook

# read file
wb = load_workbook('../raw_data/portfolio.xlsx')

# access specific sheet
#ws = wb["Tables"]

test = pd.DataFrame(wb)
# test = pd.read_excel(, engine='openpyxl', index_col=None, header=None)# sheet_name=None, parse_dates=True,   engine='openpyxl')
test

,0,1,2,3,4,5,6,7,8,9
0,"(<Cell 'Tabelle1'.A1>, <Cell 'Tabelle1'.B1>, <...","(<Cell 'Tabelle1'.A2>, <Cell 'Tabelle1'.B2>, <...","(<Cell 'Tabelle1'.A3>, <Cell 'Tabelle1'.B3>, <...","(<Cell 'Tabelle1'.A4>, <Cell 'Tabelle1'.B4>, <...","(<Cell 'Tabelle1'.A5>, <Cell 'Tabelle1'.B5>, <...","(<Cell 'Tabelle1'.A6>, <Cell 'Tabelle1'.B6>, <...","(<Cell 'Tabelle1'.A7>, <Cell 'Tabelle1'.B7>, <...","(<Cell 'Tabelle1'.A8>, <Cell 'Tabelle1'.B8>, <...","(<Cell 'Tabelle1'.A9>, <Cell 'Tabelle1'.B9>, <...","(<Cell 'Tabelle1'.A10>, <Cell 'Tabelle1'.B10>,..."

In [ ]:
pd.DataFrame.from_dict(portfolio, orient="index").to_csv('../raw_data/portfolio.csv')

In [2]:
portfolio = {'NVDA': 2, # NVIDIA
            'STAG': 11, # STAG
            'MCO': 1, # MOODY'S
            'MSFT': 1, # MICROSOFT
            'AGNC': 25, # AGNC INVESTMENT
            'V': 1, # VISA
            'BNTX': 1, # BIONTECH
            'ORC': 7 # Orchid Island Capital
            }
df = Dividend().get_portfolio_dividends(portfolio)
df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

######################################################################
# The Total Annual Dividend Income of the portfolio is: 71.15 EUR     #
######################################################################


######################################################################
# The Total Dividend Income for Sep of the portfolio is: 5.72 EUR      #
######################################################################

,Lot,Name,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Price,"Dividend, annual","ROI, annual"
ORC,7.0,Orchid Island Capital Inc. Common Stock,1.64752,1.64752,1.34799,1.34799,1.34799,1.34799,1.34799,0.95858,1.94705,1.94705,1.94705,1.94705,12.17217,18.78177,0.22043
AGNC,25.0,AGNC Investment Corp. Common Stock,2.56750,2.56750,2.56750,2.56750,2.56750,2.56750,2.56750,2.56750,2.56750,2.56750,2.56750,2.56750,11.20120,30.81000,0.11003
STAG,11.0,Stag Industrial Inc. Common Stock,1.14851,1.14851,1.14851,1.14851,1.14851,1.14851,1.14851,1.14851,1.13916,1.13916,1.13916,1.13916,31.06106,13.74472,0.04023
BNTX,1.0,BioNTech SE American Depositary Share,0.00000,0.00000,0.00000,0.00000,0.00000,1.80671,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,144.28428,1.80671,0.01252
MSFT,1.0,Microsoft Corporation Common Stock,0.00000,0.53063,0.00000,0.00000,0.53063,0.00000,0.00000,0.53063,0.00000,0.00000,0.53063,0.00000,245.62563,2.12252,0.00864
MCO,1.0,Moody's Corporation Common Stock,0.00000,0.59910,0.00000,0.00000,0.59910,0.00000,0.00000,0.59910,0.00000,0.00000,0.53063,0.00000,282.59259,2.32793,0.00824
V,1.0,Visa Inc.,0.00000,0.32095,0.00000,0.00000,0.32095,0.00000,0.00000,0.32095,0.00000,0.00000,0.32095,0.00000,195.56556,1.28380,0.00656
NVDA,2.0,NVIDIA Corporation Common Stock,0.00000,0.00000,0.06846,0.00000,0.00000,0.06846,0.00000,0.00000,0.06846,0.00000,0.00000,0.06846,129.41941,0.27384,0.00106
Total,0.0,0,5.36353,6.81421,5.13246,5.06400,6.51468,6.93917,5.06400,6.12527,5.72217,5.65371,7.03592,5.72217,0.00000,71.15129,0.00000

# Check the Pool Function

In [3]:
df_div = Dividend().get_dividend_pool(100)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- EIFZF: No data found for this date range, symbol may be delisted

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
df_div.sort_values('Dividend, annual', ascending=False)[:15]

In [ ]:
df_div.sort_values('ROI, annual', ascending=False)[:15]

In [ ]:
pool = Dividend().get_final_pool()
pool

In [ ]:
Dividend().get_portfolio_dividends(portfolio)

# Yahoo Finance

In [ ]:
orc = yf.Ticker("ORC")

In [ ]:
# show analysts recommendations
Dividend().usd2eur(orc.dividends[-1])